.boxWithLine {
    position: relative;
}

.boxWithLine::before {;
    content: "";
    display: block;
    width: 23%;
    height: 1px;
    background: black;
    position: absolute;
    right: -25%;
    top: 50%;
}

.boxWithLineDown::after {
    content: "";
    display: block;
    width: 1px;
    height: 55%;
    background: black;
    position: absolute;
    top: 50%;
    left: 125%;
}

.boxWithLineUp::after {
    content: "";
    display: block;
    width: 1px;
    height: 55%;
    background: black;
    position: absolute;
    bottom: 50%;
    left: 125%;
}